.socialSelectHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.socialSelectHead input {
  width: 100%;
}
.errorText {
  color: red;
  font-size: 15px;
}
.btnLabel {
  width: 170px;
  padding: 8px 15px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}

.socialSelectHead button svg {
  margin-right: 5px;
  fill: var(--main-color);
  margin-bottom: 2px;
}

.socialSelectBody input {
  width: 100%;
  outline: 0;
}

.socialLinkList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 10px;
}
.socialInput {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white-color);
}

.socialInput input {
  background-color: transparent;
  border: none;
}

.linkTag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.removeBtn {
  border-color: red;
  color: red;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
