:root {
  --white-color: #ffffff;
  --main-color: #3a5254;
  --Mine-Shaft-500: #6d6d6d;
  --Mine-Shaft-800: #454545;
  --Dark-Charcoal: #333333;
  --Dark-gray: #9b9b9b;
  --Carnation-Pink: #ec5962;
  --Wood-smoke-600: #5d5d5d;
  --Mine-Shaft-50: #f6f6f6;
  --Teal: #375254;
  --Pale-Peach: #fbf5f3;
  --dusty-rose: #e5c0bd;
  --ash-gray: #969696;
  --light-gray: #dbdbdb;
  --light-gray-100: #d0d1d2;
  --light-gray-200: #f3f4f6;
  --light-gray-300: #eaecf0;
  --gray-100: #8d8d8d;
  --gray-700: #374151;
  --gray-800: #404040;
  --translucent-purple: rgba(116, 89, 217, 0.2);
  --cultured: #f8f8f8;
  --Mine-Shaft-700: #4f4f4f;
  --translucent-black: rgba(0, 0, 0, 0.1);
  --light-silver: #d9d9d9;
  --pale-lavender: #e4e4e7;
  --light-cream: #eee;
  --royal-blue-100: #eef4ff;
  --royal-blue: #3538cd;
  --raspberry-pink-100: #d867a7;
  --raspberry-pink-200: #fdf2fa;
  --raspberry-pink: #c11574;
  --field_stroke_color: #d1d5db;
  --Woodsmoke-200: #d1d1d1;
  --card-bg-color: #fef8f7;
  --pending-color: #facc15;
  --pending-background-color: #fef9c3;
  --pending-text-color: #713f12;
  --approval-color: #12b76a;
  --approval-background-color: #ecfdf3;
  --approval-text-color: #027a48;
  --reject-color: #ef4444;
  --reject-background-color: #fee2e2;
  --reject-text-color: #7f1d1d;
}
