.states {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--Pale-Peach);
}

.dollar {
  padding: 10px;
  width: fit-content;
  background-color: var(--Teal);
  border-radius: 6px;
}
.states p {
  color: var(--main-color);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 0px;
}

.states h5 {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
