.Container {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--Mine-Shaft-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  margin-bottom: 10px;
}

.disabled {
  color: #ababab;
}

/* On Hover */
.dropdown:hover {
  border: 1px solid black !important;
}

/* on Focus */
.dropdown:focus {
  border: 1px solid black;
}

/* On Active */
.dropdown:active {
  border: 1px solid black;
}

/* On Disabled */
.dropdown:disabled {
  background-color: #f6f6f6;
  color: #b5b5b5;
  border: 1px solid #e5e5e5;
}

.noBorder {
  border: 0px solid #e5e5e5;
}

.arrow {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/*  React Select */
/* .css-1s2u09g-control {
  border-radius: 0px;
  min-height: 30px;
} */
.leftIconBox {
  position: absolute;
  left: 20px;
  top: 55%;
  bottom: 45%;
  transform: translateY(-50%);
  height: max-content;
}

.dropdownContainer {
  position: relative;
  border: 1px solid var(--field_stroke_color);
  width: 100%;
  background-color: var(--white-color);
  border-radius: 8px !important;
  margin-bottom: 10px;
  height: 45px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.asyncText {
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 5px;
}

.asyncDiv:hover {
  background-color: var(--dusty-rose);
  color: var(--white-color);
}
