.offerRange {
  width: 100%;
}

.rangeText {
  display: flex;
  align-items: end;
  gap: 6px;
  padding-bottom: 10px;
}
.rangeText p {
  color: var(--Mine-Shaft-300);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rangeText h5 {
  color: var(--main-color);
  font-size: 32px;
  font-weight: 500;
}
