.textAreaBox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--black-v7);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.textAreaBox textarea {
  /* padding: 12px 0px; */

  font-size: 16px;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  background-color: var(--white-color);
  outline: 0px;
  border: 1px solid var(--field_stroke_color);
  /* border: 0px; */
  /* padding: 5px; */
  padding: 15px 10px;
  border-radius: 5px;
}

.textAreaBox textarea::placeholder {
  /* color: var(--placeholder) !important; */
  color: var(--Mine-Shaft-500) !important;
  /* padding-left: 5px; */
}

.labelDisabled {
  color: var(--disabled-label-color);
}

.errorText {
  color: red;
  font-size: 15px;
}
