.switch {
  position: relative;
  display: inline-block;
  width: 31.2px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pale-lavender);
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 12px; /* Adjusted size to fit within 16px height */
  width: 12px;
  left: 2px; /* Adjusted to stay within the slider */
  bottom: 2px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-color);
}

input:checked + .slider::before {
  transform: translateX(15px); /* Adjusted for the new width */
}

/* Disabled state */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
