.bottom {
  color: var(--Mine-Shaft-800);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
}
.bottom span {
  color: var(--Carnation-Pink);
}
.forgot {
  margin-inline: auto 0;
  width: fit-content;
}
