.TextComponent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.TextComponent h5 {
  color: var(--Dark-Charcoal);
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TextComponent p {
  color: #6d6d6d;
  font-family: var(--Mine-Shaft-500);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
