.mergeButton {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: var(--cultured);
  cursor: pointer;
}

.active {
  background-color: var(--main-color);
  color: var(--Mine-Shaft-50);
}
