.inputField {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.profileBtns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.head p {
  color: var(--Mine-Shaft-800);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
