.authParent {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.authParent::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 21%;
  height: 60%;
  background-image: url("/images/app-images/png/authAfter.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.authParent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 29%;
  height: 43%;
  background-image: url("/images/app-images/png/authbefore.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.mainChildren {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.child {
  width: 640px;
  background-color: var(--Pale-Peach);
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 70vh;
  overflow: auto;
}

.logo {
  position: relative;
  width: 200px;
  height: 140px;
}

.child::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

/* Track */
.child::-webkit-scrollbar-track {
  background: var(--Pale-Peach);
  border-radius: 5px;
}

/* Handle */
.child::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}

@media (max-width: 1440px) {
  .child {
    padding: 15px 60px;
  }
}
